[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
openai = ">=1.0.0"
python-dotenv = "==1.0.0"
langchain = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
