[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-openai = "*"
python-dotenv = "==1.0.0"
langchain = "*"
streamlit = "*"
watchdog = "*"
langchain-google-genai = "*"
langchain-community = "*"
chromadb = "*"
streamlit-chat = "*"
langchain-chroma = "*"
pypdf2 = "*"
pinecone-client = "==2.2.2"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
